<div class="container">
	<div id="con1" class="con1 intro typo_wrap theme-dark">
			<div class="m_sticky">
				<div class="circle_img" id="animate">
					<img src="/images/circle.png" width="100%" class="circle_rotate">
				</div>

				<div class="intro_txt intro_txt_hero" id="intro_txt_one">

                        <div class="split-slideshow">

                            <div class="slideshow-text">
                                <div class="item">BUSINESS WEBSITE</div>
                                <div class="item">ONLY FOR $1.99</div>
                                <div class="item">Erosion</div>
                                <div class="item">Shape</div>
                            </div>
                        </div>

				</div>
        </div>
    </div> 
    <div id="con2" class="con con2 protfolio">
        <div class="scrollable">
            <section >
                <div class="projectImg"></div>
                <div class="projectImg"></div>
            </section>
            <section ></section>
            <section ></section>
            <div class="projectTxt"><h1>Projects</h1></div>
            <section ></section>
            <section ></section>
            <section ></section>
        </div>
    </div>
    <div id="con3" class="con con3 promotion">
        <section>
            <div class="promTxt"><h1>EVERYTHING YOU SAW</h1></div>
            <div class="promTxt"><h1>IS ONLY $1.99</h1></div>
        </section>
    </div>
    <div id="con4" class="con con4 interesting">
        <section>
            <h1>INTERESTING?</h1>
            <img src="/images/temp.webp" class="circleImg" alt="mobile image">
        </section>
    </div>
    <div id="con5" class="con con4 about">
        <section>
            <h1>ABOUT MAIZONWEB</h1>
        </section>
        <section class="contents">
            <div><h2>why choose us</h2></div>
            <div>
                <li><h3>something</h3><p>something</p></li>
                <li><h3>something</h3><p>something</p></li>
                <li><h3>something</h3><p>something</p></li>
                <li><h3>something</h3><p>something</p></li>
            </div>
        </section>
    </div>

    <div id="con6" class="con con6 responsive">

    </div>
    </div>